<!-- Search Section -->
<div class="search-section grid grid-cols-12 gap-6 items-center p-6 pt-12 pb-12 bg-gray-50 lg:px-20 shadow-lg rounded-md">
  <!-- Search Keyword -->
  <div class="flex flex-col col-span-12 md:col-span-3">
    <label class="font-semibold mb-3 text-gray-700 uppercase tracking-wide">{{ 'search.keyword' | translate }}</label>
    <div class="relative">
      <i class="fa fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
      <input type="text" placeholder="{{ 'search.placeholder' | translate }}" class="pl-10 pr-4 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out" />
    </div>
  </div>

  <!-- Location -->
  <div class="flex flex-col col-span-12 md:col-span-3">
    <label class="font-semibold mb-3 text-gray-700 uppercase tracking-wide">{{ 'search.locationLabel' | translate }}</label>
    <div class="relative">
      <i class="fa fa-map-marker-alt absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
      <select class="appearance-none bg-white pl-10 pr-4 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
        <option value="" disabled selected>{{ 'search.allLocations' | translate }}</option>
        <option value="paris">Paris</option>
        <option value="lyon">Lyon</option>
        <option value="marseille">Marseille</option>
        <option value="toulouse">Toulouse</option>
        <option value="bordeaux">Bordeaux</option>
      </select>
    </div>
  </div>

  <!-- Event Date -->
  <div class="flex flex-col col-span-12 md:col-span-3">
    <label class="font-semibold mb-3 text-gray-700 uppercase tracking-wide">{{ 'search.eventDate' | translate }}</label>
    <div class="relative">
      <i class="fa fa-calendar-alt absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
      <input type="text" id="datepicker" class="pl-10 pr-4 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out" />
    </div>
  </div>

  <!-- Search Button -->
  <div class="flex flex-col col-span-12 md:col-span-3 justify-end">
    <label class="font-semibold mb-3 invisible">{{ 'search.searchBtn' | translate }}</label>
    <button class="flex items-center justify-center bg-blue-700 text-white font-semibold px-8 py-3 rounded-lg shadow-md hover:bg-blue-800 hover:shadow-lg focus:ring-4 focus:ring-blue-400 transition-all duration-300 ease-in-out">
      <i class="fa fa-search mr-2"></i> {{ 'search.searchBtn' | translate }}
    </button>
  </div>
</div>

<!-- Event Section -->
<div class="event-section-container p-5 lg:px-20">
  <div class="event-section grid grid-cols-12 gap-5 ">
    <!-- Event Filter Section -->
    <div class="col-span-12 lg:col-span-3 bg-gray-100 p-5 border-r">
      <h2 class="font-bold text-lg mb-4">{{ 'events.categories' | translate }}</h2>

      <!-- Categories List -->
      <div *ngFor="let category of categories">
        <label class="inline-flex items-center mb-2">
          <input type="checkbox" [(ngModel)]="category.selected" class="form-checkbox text-orange-600">
          <span class="ml-2">{{ category.name }}</span>
        </label>
      </div>

      <!-- Price Filter -->
      <div class="mt-6">
        <h2 class="font-bold text-lg mb-4">{{ 'events.priceMin' | translate }}</h2>
        <div class="flex items-center justify-between mb-2">
          <!-- Min Price Display -->
          <span class="text-lg font-semibold text-blue-600">£{{ minPrice }}</span>
          <input type="range" min="0" max="{{minPrice}}" [(ngModel)]="minPrice" (input)="onPriceChange($event)" class="w-full ml-4" id="minPrice" />
        </div>

        <h2 class="font-bold text-lg mt-8">{{ 'events.priceMax' | translate }}</h2>
        <div class="flex items-center justify-between mb-2">
          <input type="range" min="0" max="{{maxPrice}}" [(ngModel)]="maxPrice" (input)="onPriceChange($event)" class="w-full mr-4" id="maxPrice" />
          <!-- Max Price Display -->
          <span class="text-lg font-semibold text-blue-600">£{{ maxPrice }}</span>
        </div>
      </div>

      <!-- Apply Filters Button -->
      <div class="mt-4">
        <button class="bg-blue-800 text-white px-4 py-2 rounded-lg w-full hover:bg-blue-600" (click)="applyFilters()">
          {{ 'events.applyFilters' | translate }}
        </button>
      </div>
    </div>

    <!-- Event List Section -->
    <div class="col-span-12 lg:col-span-9 p-5 bg-white flex flex-col flex-grow min-h-[500px]">
      <h2 class="font-bold text-lg mb-4">
        {{ 'events.resultsInfo' | translate:{start: (currentPage - 1) * pageSize + 1, end: Math.min(currentPage * pageSize, filteredEvents.length), total: filteredEvents.length} }}
      </h2>

      <!-- Events items -->
      <div class="event-list w-full md:grid md:grid-cols-1 lg:grid-cols-2 gap-5">
        <div *ngFor="let event of paginatedEvents" class="event-card border p-6 rounded-lg shadow mb-4 flex flex-col md:flex-row justify-between items-center">
          <!-- Event Info Section -->
          <div class="mb-4 md:mb-0">
            <h3 class="text-xl font-bold mb-3 text-gray-700">{{ event.name }}</h3>
            <hr class="border-t-2 border-gray-200 mb-3">
            <div class="flex flex-wrap space-x-4">
              <p><strong>{{ 'events.location' | translate }}</strong><br>{{ event.location }}</p>
              <p><strong>{{ event.date | date:'EEEE' }}</strong><br>{{ event.date | date:'MMMM d, y' }}</p>
              <p><strong>{{ 'events.time' | translate }}</strong><br>{{ event.time }}</p>
            </div>
          </div>

          <!-- Price and Book Ticket Section -->
          <div class="text-right">
            <div class="price text-3xl font-bold text-gray-800 mb-4">£{{ event.price }}</div>
            <button (click)="openBookTicketModal(event)" class="bg-blue-800 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition">
              {{ 'events.bookTicket' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div class="pagination mt-6 flex justify-between items-center space-x-2">
        <!-- Page Size Dropdown -->
        <div class="flex items-center space-x-2">
          <label for="pageSize" class="text-gray-700">{{ 'events.resultsPerPage' | translate }}:</label>
          <select id="pageSize" [(ngModel)]="pageSize" (change)="updatePageSize($event)" class="border border-gray-300 rounded-lg p-2">
            <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
          </select>
        </div>

        <!-- Previous/Next Buttons -->
        <div class="flex items-center space-x-2">
          <button (click)="previousPage()" class="p-2 bg-gray-300 rounded-lg" [disabled]="currentPage === 1">
            {{ 'events.prev' | translate }}
          </button>

          <!-- Page Numbers -->
          <button
            *ngFor="let page of getPagesArray()"
            (click)="goToPage(page)"
            class="p-2 rounded-lg"
            [ngClass]="{'bg-blue-800 text-white': currentPage === page, 'bg-gray-300': currentPage !== page}">
            {{ page }}
          </button>

          <button (click)="nextPage()" class="p-2 bg-gray-300 rounded-lg" [disabled]="currentPage === totalPages">
            {{ 'events.next' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Booking Modal -->
<div *ngIf="isModalOpen" class="modal fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center z-50">
  <div class="modal-content bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl h-auto max-h-screen overflow-y-auto">
    <!-- Modal Header -->
    <div class="modal-header flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold">{{ 'booking.modal.title' | translate:{event: selectedEvent.name} }}</h2>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-800 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <p class="mb-4">{{ 'booking.modal.location' | translate }}: {{ selectedEvent.location }}</p>
      <p class="mb-4">{{ 'booking.modal.date' | translate }}: {{ selectedEvent.date }}</p>
      <p class="mb-4">{{ 'booking.modal.time' | translate }}: {{ selectedEvent.time }}</p>
      <p class="mb-4 font-bold text-lg">{{ 'booking.modal.price' | translate }}: £{{ selectedEvent.price }}</p>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer flex justify-end mt-6">
      <button (click)="confirmBooking()" class="bg-green-500 text-white px-4 py-2 rounded-lg mr-4 hover:bg-green-600 focus:outline-none">
        {{ 'booking.modal.confirm' | translate }}
      </button>
      <button (click)="closeModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none">
        {{ 'booking.modal.cancel' | translate }}
      </button>
    </div>
  </div>
</div>
